# data for a file syncronization tool.
SyncToy*

# Diffs in tests.
*.dif

# Logs
*.log.notime
*.log.notime.prev
*.log.json


# Previous version of suite logs.
*.mlog
*.mlog.notime
*.mlog.notime.prev
*.mlog.json

# Suite logs.
*.slog
*.slog.notime
*.slog.notime.prev
*.slog.json

# Root logs.
*.rlog
*.rlog.notime
*.rlog.notime.prev
*.rlog.json

*.pid
*.sid

tests/*.log
test/clientSide/
test/tmpProfiles
test/*.zip

node_modules
bower_components

.tmp
dump.rdb


lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log

*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
tmp

################################################
# ExtJS
################################################

assets/build
assets/bootstrap.json
assets/sass/example/bootstrap.json
assets/siesta

################################################
#
################################################

sessions
files
connect-session-knex.sqlite
updates/*.json
updates/*/*

typings/
typings.json

tmpProfiles

.mail-settingsrc

*.nogit.*

br-profiles/
*.old

ext-log.log

*.procInfo

package-lock.json

coverage/
coverage*.json

*.dif.html
*.plus.difs
